.btn{
    padding: 0.8em 1em;
    line-height: 1em;
    font-size: 15px;
    font-weight: bold;
    width: 35%;
    margin: 20px 0;
    background-color: #a14251;
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 20px;
    border: 20px rgb(0, 0, 0);
    box-shadow: 
    5px 5px 10px #a24250,
    -5px -5px 10px rgba(70, 70, 70, 0.12);  
    transition: all 0.5s;


}
.btn + .btn {  /*  salia pirmo(i6 kaires) elementas 2 igauna stiliu    */
    margin-right: 20px;
}
.btn:hover{

    
    box-shadow: 
    5px 5px 20px #883844,
    -10px -10px 20px rgba(70, 70, 70, 0.12); 
    

}