@import './button.css';
@import './reset.css';
@import '../../font/fontawesome-free-6.1.1-web/css/fontawesome.min.css';

body{

    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 50px;  /* tarpas tarp visu vaiku*/
    align-items: center; /* align skirtas stulpelems, o justivy skirtas eilutem(row) ir atvirksciai*/
    /* justify-content: center; */
    background-color: bisque;
    
}

.container {    
    width: 100%;
    background-color: aquamarine;
    

}

@media (min-width: 480px){
    .container{
        width: 360px;
    }

}

@media (min-width: 780px){
    .container{
        width: 660px;
    }

}
@media (min-width: 1000px){
    .container{
        width: 900px;
    }

}
@media (min-width: 1200px){
    .container{
        width: 1100px;
    }

}
@media (min-width: 1400px){
    .container{
        width: 1300px;
    }

}

