@import './button.css';
@import './reset.css';

body{

    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 50px;  /* tarpas tarp visu vaiku*/
    align-items: center; /* align skirtas stulpelems, o justivy skirtas eilutem(row) ir atvirksciai*/
    /* justify-content: center; */
    padding: 20px;
    
}

.container {    
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.container > *:first-child{
    margin-right: auto;
}
.gallery{
    
    
}
.logo{
    max-height: 80px;
}

.nav{
    display: flex;
    gap: 20px;
}

.header-nav {

    text-decoration: none;
    color: black;
}
.header-nav:hover{
    color: red;
    
}
.icon{
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
}




@media (min-width: 480px){
    .container{
        width: 360px;
    }

}

@media (min-width: 780px){
    .container{
        width: 660px;
    }

}
@media (min-width: 1000px){
    .container{
        width: 900px;
    }

}
@media (min-width: 1200px){
    .container{
        width: 1100px;
    }

}
@media (min-width: 1400px){
    .container{
        width: 1300px;
    }

}

